@if (mail) {
  <div class="modal-header">
    <h4>{{ mail.subject }}</h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
        <div class="row"><p>To: {{ mail.email_to }}</p></div>
        <div class="row"><p>From: {{ mail.email_from }}</p></div>
        <div class="row"><hr /></div>
        <div class="row content-outer"><div class="content-inner" [innerHTML]="mail.content"></div></div>
    </div>
  </div>
}
@else {
  @if (this.isLoading === true) {
    <div class="modal-body">
      <div style="display: flex; align-items: center; justify-content: center; padding-top: 2em;">
          <fa-icon id="spinner" [icon]="faSpinner" [animation]="'spin-pulse'" [size]="'2xl'"></fa-icon>
      </div>
    </div>
  }
}
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>