@if (this.isLoading === true) {
  <div class="modal-body">
    <div style="display: flex; align-items: center; justify-content: center; padding-top: 2em;">
        <fa-icon id="spinner" [icon]="faSpinner" [animation]="'spin-pulse'" [size]="'2xl'"></fa-icon>
    </div>
  </div>
}
@else {
  <div class="modal-header">
    @if (mail_id && mail) {
      <h4>{{ mail.subject }}</h4>
    }
    @else {
      <h4>New Email</h4>
    }
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form #newEmailForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          @if (mail_id && mail) {
            <p>To: {{ mail.email_to }}</p>
          }
          @else {
            <label for="email_to">To: </label>
            <input class="input-design form-control" id="email_to" type="email" [(ngModel)]="mail.email_to" name="email_to" required />
          }
        </div>
        <div class="row">
          @if (mail_id && mail) {
            <p>From: {{ mail.email_from }}</p>
          }
          @else {
            <label for="subject">Subject: </label>
            <input class="input-design form-control" id="subject" type="text" [(ngModel)]="mail.subject" name="subject" />
          }
        </div>
        <div class="row"><hr /></div>
        <div class="row content-outer input-design">
          @if (mail_id && mail) {
            <div class="content-inner" [innerHTML]="mail.content"></div>
          }
          @else {
            <textarea class="content-outer input-design form-control" id="content" placeholder="Email content (text)..." [(ngModel)]="mail.content" name="content"></textarea>
          }
        </div>
        @if (!(mail_id && mail)) {
          <button class="sumbit-bt button" type="submit"><fa-icon [icon]="this.faPaperPlane"></fa-icon>&#9;Send</button>
        }
      </form>
    </div>
  </div>
}

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>