.it_sidebar {
    background-color: rgb(198, 234, 255);
    height: 100%;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples #3
}

.inbox-outer {
    flex: 1 1 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em;
    border-radius: 1em;
}

.inbox-outer > div :first-child {
    border-radius: 1em 1em 0 0;
}

.inbox-outer > div :last-child {
    border-radius: 0 0 1em 1em;
}

.content-inbox {
    overflow: auto;
}

#date-toolbar {
    width: 50%;
    background-color: rgb(0, 75, 119);
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    border-width: 0;
    font-size: 1.4em;
}

#sec1 {
    border-radius: 1em 0 0 1em;
    border-width: 0;
    padding: 0.5em;
}

#sec2 {
    border-radius: 0 1em 1em 0;
    border-width: 0;
    padding: 0.5em;
}

#date-toolbar > div :not(.dates):hover {
    background-color: rgb(0, 42, 66);
}

.dates {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.dates :hover {
    background-color: rgb(0, 75, 119) !important;
}

#date-toolbar button {
    color: white;
    border: 0px;
    background-color: inherit;
}

.tac {
    text-align: center;
}

#spinner {
    color: rgb(121, 32, 0);
}

#inbox-div div {
    border-bottom: 1px solid #d1d1d1;
}

.seen {
    background-color: #dedede;
}

.unseen {
    background-color: white;
}

#inbox-div :hover {
    background-color: #cccccc;
}

.centre {
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    padding: 0.5em;
    border-width: 0;
    font-size: 1.4em;
}

:disabled {
    color: rgb(190, 190, 190) !important;
}

#new-email-container :hover {
    background-color: #cccccc;
}

// #inc-week :disabled {
//     color: rgb(44, 94, 122) !important;
// }