.it_sidebar {
    background-color: rgb(198, 234, 255);
    height: 100%;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples #3
}

.inbox-outer {
    height: 100%;
    overflow: auto;
}

#spinner {
    color: rgb(121, 32, 0);
}