<div class="container-fluid w-100 h-100" id="inbox-test">
    <div class="row w-100 h-100">
        <div class="col-2 it_sidebar">
            <h1>
                @if (this.the_user) {
                    {{ the_user.username }}'s 
                }Inbox
            </h1>
        </div>
        <div class="col-10 h-100">
            @if (this.isLoading === true) {
                <div style="display: flex; align-items: center; justify-content: center; padding-top: 2em;">
                    <fa-icon id="spinner" [icon]="faSpinner" [animation]="'spin-pulse'" [size]="'2xl'"></fa-icon>
                </div>
            }
            @else {
                <div class="inbox-outer">
                    <div id="inbox_div" style="width: 98%">
                        @for (mail of inbox; track mail) {
                            <app-email [mail] = "mail"></app-email>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>