.it_sidebar {
    background-color: rgb(198, 234, 255);
    height: 100%;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples #3
}

.inbox-outer {
    height: 94%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em;
    border-radius: 1em;
}

.dates {
    margin: 1em;
}

#spinner {
    color: rgb(121, 32, 0);
}

#inbox-div div {
    border-bottom: 1px solid #d1d1d1;
}

.seen {
    background-color: #dedede;
}

.unseen {
    background-color: white;
}

#inbox-div :hover {
    background-color: #cccccc;
}

.centre {
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    padding: 0.5em;
    border-width: 0;
    font-size: 1.4em;
}

:disabled {
    color: rgb(190, 190, 190);
}