.it_sidebar {
    background-color: rgb(198, 234, 255);
    height: 100%;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; //https://getcssscan.com/css-box-shadow-examples #3
}

.inbox-outer {
    height: 98%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em;
    border-radius: 1em;
}

#spinner {
    color: rgb(121, 32, 0);
}

#inbox-div div {
    border-bottom: 1px solid #d1d1d1;
}

#inbox-div div:last-child {
    border-bottom: 0;
}

.seen {
    background-color: #dedede;
}

.unseen {
    background-color: white;
}

#inbox-div div :hover {
    background-color: #cccccc;
}